<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div style="margin-top:150px; text-align:center;">
        <!-- Google Sign-In Button -->
        <a href="/login">
            <img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png">
        </a>
    </div>
</body>
</html>
